.ipynb_checkpoints/
CatBoost_confusion_matrix.png
CatBoost_roc_auc_curve.png
DummyClassifier_confusion_matrix.png
DummyClassifier_roc_auc_curve.png
HistGradientBoostingClassifier_confusion_matrix.png
HistGradientBoostingClassifier_roc_auc_curve.png
HistGradientBoosting_confusion_matrix.png
HistGradientBoosting_roc_auc_curve.png
HomeCredit_columns_description.csv
KNeighborsClassifier_confusion_matrix.png
KNeighborsClassifier_roc_auc_curve.png
LightGBM_avec_smote_confusion_matrix.png
LightGBM_avec_smote_roc_auc_curve.png
LightGBM_confusion_matrix.png
LightGBM_roc_auc_curve.png
LightGBM_sans_smote_confusion_matrix.png
LightGBM_sans_smote_roc_auc_curve.png
LogisticRegression_confusion_matrix.png
LogisticRegression_roc_auc_curve.png
POS_CASH_balance.csv
Untitled.ipynb
XGBClassifier_confusion_matrix.png
XGBClassifier_roc_auc_curve.png
XGBClassifier_sans_smote_confusion_matrix.png
XGBClassifier_sans_smote_roc_auc_curve.png
XGBoost_avec_smote_confusion_matrix.png
XGBoost_avec_smote_roc_auc_curve.png
XGBoost_confusion_matrix.png
XGBoost_roc_auc_curve.png
XGBoost_sans_smote_confusion_matrix.png
XGBoost_sans_smote_roc_auc_curve.png
__pycache__/
analyse_v1.ipynb
analyse_v2.ipynb
analyse_v3.ipynb
analyse_v4.ipynb
analyse_v5.ipynb
analyse_v6.ipynb
analyse_v7.ipynb
analyse_v8.ipynb
application_test.csv
application_train.csv
best_model.joblib
bureau.csv
bureau_balance.csv
catboost_info/
credit_card_balance.csv
dashboard.ipynb
dashboard_local.py
dashboard_v1.py
donnees_test.csv
donnees_train.csv
donnees_train_sample.csv
essai_LGBM.ipynb
installments_payments.csv
lgbm_importances01.png
mlruns/
previous_application.csv
sample_submission.csv
submission_kernel02.csv
templates/
test_api.py
